#contato {
    margin: 200px 0 0 200px;
    border: solid black 1px;
    padding: 100px;
}

.formulario {
    border: solid black 1px;
    display: inline-block;
    padding: 100px;
}

.inputsCaixas {
    width: 300px;
    height: 30px;
    padding: 10px;
    display: block;
    border: solid 2.5px #014A8A;
    border-radius: 10px;
}

.inputsCaixas {
    width: 300px;
    height: 30px;
    padding: 10px;
    display: block;
    border: solid 2.5px #014A8A;
    border-radius: 10px;
}

