body {
    margin: 0px;
    padding: 0px;
   
}

nav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 70px;
    text-align: center;
}

#lista {
    margin: 0;
    padding: 0px;
    display: inline-block;
    transform: translatey(-50%);
    margin-top: 35px;
}

li {
    font-size: 30px;
    color: black;
    border-radius: 10px;
    width: 120px;
    padding: 5px;
    display: inline-block;
    font-family: 'Bebas Neue', arial;
}

main {
    margin: 0;
    padding: 0;
    height: 600px;
    background-image: url("./ROM09540.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: calc(40%);
}

h1 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 90px;
    text-shadow: 10px 1px 60px black, -10px -1px 50px black;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 50px;
    text-shadow: 10px 1px 20px black, -10px -1px 20px black
}

#section1 {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    text-align: left;
    transform: translateY(120%);
}
