body {
    viewport-fit: 100vh;
    background-color: #262261;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.stage {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.square {
    width: 150px;
    height: 150px;
    background-color: #FAAF40;
    border: 10px solid white;
    display: inline-block;
    border-radius: 30px;
}

.square:hover {
    background-color: #262261;
}

.o {
    position: relative;
}

.o:after {
    content: "O";
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    content: "X";
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}